@import "tailwindcss";

:root {
  --background: #FFF7F9;
  --foreground: #2F2F2F;
}

@layer utilities {
  .gr-valentine-rose {
    @apply bg-linear-45 from-pink-400 via-rose-600 to-red-400;
  }

  .gr-valentine-soft {
    @apply bg-linear-45 from-pink-300 via-rose-300 to-red-300;
  }

  .gr-valentine-passion {
    @apply bg-linear-45 from-red-600 via-rose-700 to-pink-600;
  }

  .gr-valentine-blue {
    @apply bg-linear-45 from-secondary via-tertiary to-peach;
  }

  .gr-valentine-hero {
    @apply bg-linear-to-br from-primary/70 to-secondary/70; 
  }
}

@layer components {
  .gr-primary {
    background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
  }
}

@theme {
  --color-primary: #FF6B6B;
  --color-secondary: #FF6DE0;
  --color-tertiary: #CDB4DB;
  --color-white-choco: #F0E6D2;
  --color-peach: #FFE5B4;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-nunito: var(--font-nunito);
}

body {
  background: var(--color-white-choco);
  color: var(--foreground);
  font-family: var(--font-sans), Helvetica, sans-serif;
}
